@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    outline: none;
    margin: 0;
    padding: 0;
}

#navig_window {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

header {
    display: block;
    width: 100%;
    height: 195px;
    border-bottom: 1px #525252 solid;
    background: 
        linear-gradient(#6189b7d0 100%, #6189b700 0%),
        linear-gradient(#ffffff 100%, #ffffff 100%);
}

.avatar_nick {
    display: inline-block;
    width: 183px;
    height: 180px;
    margin-top: 8px;
    margin-left: 3px;
}

.avatar_img {
    content: "";
    background: 
        linear-gradient(210deg, #F60000 20%, #f6000000 100%),
        linear-gradient(#00FFB7 00%, #00FFB7 100%);
    border-radius: 100%;
    width: 56px;
    height: 55px;
    margin-top: 7px;
    margin-left: 12px;
}

.nickname {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #525252;
    padding-left: 12px;
}

.line {
    height: 1px;
    background-color: #525252;
    position: relative;
    width: 197px;
    right: 13px;
}

.l1 {
    /* margin-bottom: 10px; */
    bottom: 5px;
}

.l2 {
    top: 5px;
}

.home {
    background-color: rgba(255, 255, 255, 0.08);
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 7px;
    width: 71px;
    height: 67px;
    border-radius: 100%;
    border: none;
    background-image: url('../../../public/home-icon-silhouette-svgrepo-com.svg');
    bottom: 65px;
    left: 60px;
    opacity: 1;
    transition: 150ms linear;
    cursor: pointer;
}

.home:hover {
    background-color: rgba(255, 255, 255, 0.15);
    transform: scale(0.97);
    transition: 150ms linear;
    opacity: 1;
}

.exit {
    margin-left: 10px;
    background-color: #FFFFFF;
    border-radius: 100%;
    border: 1px #FF0000 solid;
    width: 38px;
    background-position: 5px;
    height: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../../public/exit.svg');
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) ease-in-out;
    position: relative;
    margin-bottom: 108px;
    cursor: pointer;
}

.exit:hover {
    background-position: 5px;
    transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) ease-in-out;
    background-color: #FF0000;
    border-radius: 100%;
    border: 1px black solid;
    width: 38px;
    height: 36px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../../public/exit_2.svg');
}

.setting_container {
    background: linear-gradient( #ffffff00 100%, #FFFFFF 100%);
    border-radius: 100%;
    /* border: 1px black solid; */
    width: 37px;
    height: 35px;
}

#container_setting {
    color: black;
    display: flex;
    position: relative;
    margin-left: 50vh;
    margin-top: 120px;
    background-color: #d8d8d8b7;
    width: 817px;
    height: 423px;
    opacity: 0.7;
    z-index: 100;
}

.modal {
    background: none;
}

.setting {
    display: block;
    margin-left: 10px;
    border-radius: 100%;
    border: none;
    width: 37px;
    height: 36px;
    cursor: pointer;
    z-index: 1;
}

.setting_img {
    display: flex;
    position: relative;
    bottom: 36px;
    left: 10px;
    width: 37px;
    height: 35px;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url('../../../public/icons8-settings-48.svg'); */
    transition: 500ms;
    /* cursor: pointer; */
    pointer-events: none;
}

.setting_img:hover {
    width: 38px;
    height: 35px;
    transition: 500ms;
    transform: rotate(60deg);
    /* background-image: url('../../../public/icons8-settings-48.svg'); */
    pointer-events: none;
}

.func_head_sett {
    display: block;
    position: relative;
    bottom: 260px;
    padding-top: 11px;
    left: 187px;
    padding-left: 12px;
    border-left: 1px solid #525252;
    height: 189px;
    width: 38px;
}

body {
    display: block;
    height: 100%;
    width: 100%;
    /* border-right:1px #525252 solid ; */
}

.container_nav {
    width: 100%;
    height: 100%;
    border: none;
    background: 
        linear-gradient(#6189b7d0 100%, #6189b700 0%),
        linear-gradient(59deg,#000000 35%, #ffffff 0%);
}

.but_nav_GPT {
    transition: all 0.5s;
    position: relative;
    top: 19px;
    border: none;
    background-color: rgba(255, 255, 255, 0.01);
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    width: 100%;
    height: 83px;
    cursor: pointer;
}

.but_nav_GPT::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255,255,255,0.1);
    transition: all 0.3s;
}

.but_nav_GPT:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
}

.but_nav_GPT::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
}

.but_nav_GPT:hover::after {
    opacity: 1;
    transform: scale(1.1);
}