@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
}

#container_weather {
    border: none;
    border-left:1px #000000 solid ;
    border-right:1px #000000 solid ;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}

/* .container_weather_day {
    background: 
        linear-gradient(#508acd56 100%, #508acd00 50%),
        linear-gradient(to bottom, #9adbef 25%,#000000 100%),
        linear-gradient(to bottom, #fff 100%, #000000 100%);
}

.container_weather_night {
    background: 
        linear-gradient(#1f1f429d 100%, #1F1F42 50%),
        linear-gradient(to top, #000000 40%,#a9a9ff 100%),
        linear-gradient(to top, #fff 100%, #000000 100%);
} */

#container_front_weather {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.sun_moon_block {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.weather_day {
    display: inline-flex;
    text-align: center;
    padding: 0px 81px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.picture_weather {
    width: 155.423px;
    height: 153px;
}

.cloud {
    width: 137.79px;
    height: 81.798px;
    flex-shrink: 0;
    background-image: url('../../../../public/clouds.svg');
    position: relative;
    z-index: 2;
    backdrop-filter: blur(1px);
    top: 70px;
}

.sun {
    display: block;
    width: 101.273px;
    height: 101.273px;
    flex-shrink: 0;
    background-image: url('../../../../public/sun.svg');
    position: relative;
    bottom: 45px ;
    left: 44px;
    z-index: 1;
}

.blur_sun {
    display: block;
    width: 116.854px;
    height: 110.037px;
    flex-shrink: 0;
    border-radius: 40.638px;
    background: #FFEF9A;
    filter: blur(16.64420509338379px);
    position: relative;
    bottom: 162px;
    left: 38px;
}

p {
    /* margin: 0; */
}

.temperature {
    margin-left: 10px;
    color: var(--White-0, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 76.8px */
    text-transform: uppercase;
}

.temperature_city {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0px;
    margin-top: 40px;
    line-height: 13px;
    color: var(--White-0, #FFF);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.symbol {
    display: inline;
}

.s1 {
    margin-right: 6px;
}

.s3 {
    margin-left: 6px;
}

.weather_conditions {
    display: flex;
    padding: 8px 17px;
    align-items: flex-start;
    gap: 33px;
    border-radius: 24px;
    background: var(--Card-White, rgba(255, 255, 255, 0.10));
    backdrop-filter: blur(8px);
    margin-top: 50px;
}

.conditions {
    background-size: auto;
    background-repeat: no-repeat;
    color: white;
    padding-left: 25px;
    /* margin-top: 10px; */
    display: inline-flex;
    line-height: 19px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.precipitation {
    background-image: url('../../../../public/CloudRain.svg');
}

.humidity {
    background-image: url('../../../../public/Drop.svg');
}

.wind_speed {
    background-image: url('../../../../public/Wind.svg');
}

.today {
    width: 435px;
    height: 162px;
}

.today_two {
    display: flex;
    width: 435px;
    height: 162px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.17);
    backdrop-filter: blur(8px);
    width: 435px;
    height: 162px;
    flex-shrink: 0;
}

.text_day {
    display: inline-flex;
    margin-bottom: 117px;
    position: absolute;
    color: var(--White-0, #FFF);
    font-family: Inter;
    font-style: normal;
    line-height: 120%; /* 19.2px */
}

.day1 {
    margin-right: 80%;
    font-size: 14px;
    font-weight: 700;
}

.day2 {
    margin-left: 80%;
    font-size: 14px;
}

.time_for_today {
    display: inline-flex;
    align-items: flex-start;
    gap: 19px;
}

.time_today {
    display: flex;
    width: 51px;
    height: 87px;
    padding-bottom: 3px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
}

.frame_today {
    display: flex;
    width: 51px;
    height: 84px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}

.text_time {
    color: var(--White-0, #FFF);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 14.4px */
}

.temp {
    color: var(--White-0, #FFF);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 21.6px */
}

.icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0; 
}

.i0 {
    background-image: url('../../../../public/Weather_Icons.svg');
}

.i1 {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../../../public/ic_very_cloudy.svg');
}

.i2 {
    background-image: url('../../../../public/ic_snowy.svg');
}

.i3 {
    background-image: url('../../../../public/ic_rainy.svg');
}

.i4 {
    background-image: url('../../../../public/ic_heavysnow.svg');
}

.i5 {
    background-image: url('../../../../public/ic_very_cloudy.svg');
}

.weekday {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.weekday_two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.day_week {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 17.293px;
}

.content_day {
    display: flex;
    /* width: 53px; */
    /* height: 169px; */
    padding: 18px 3px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.co_day_1 {
    background: var(--Card-White, rgba(255, 255, 255, 0.10));
}

.co_day_2 {
    background: var(--Card-White, rgba(255, 255, 255, 0.040));
}

.co_day_3 {
    background: var(--Card-White, rgba(255, 255, 255, 0.040));
}

.co_day_4 {
    background: var(--Card-White, rgba(255, 255, 255, 0.040));
}

.co_day_5 {
    background: var(--Card-White, rgba(255, 255, 255, 0.040));
}

.co_day_6 {
    background: var(--Card-White, rgba(255, 255, 255, 0.040));
}

.co_day_7 {
    background: var(--Card-White, rgba(255, 255, 255, 0.10));
}


.group_day {
    width: 50px;
    height: 131px;
    flex-shrink: 0;
}

.icon_day {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.text_day {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.text_d_w {
    color: var(--White-0, #FFF);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 16.8px */
}

.day_date {
    color: var(--Gray-400, #A0A7BA);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
}

.text_temp_week {
    color: var(--White-0, #FFF);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 19.2px */
}

.ic1 {
    background-image: url('../../../../public/Weather_icon.svg');
    background-repeat: no-repeat;
    width: 43px;
    height: 43px;
}

.ic2 {
    background-image: url('../../../../public/ic_cloudy.svg');
    background-repeat: no-repeat;
    width: 43px;
    height: 43px;
}

.ic3 {
    background-image: url('../../../../public/ic_snow.svg');
    background-repeat: no-repeat;
    width: 43px;
    height: 43px;
}

.ic4 {
    background-image: url('../../../../public/ic_rain.svg');
    background-repeat: no-repeat;
    width: 43px;
    height: 43px;
}

.ic5 {
    background-image: url('../../../../public/ic_snow.svg');
    background-repeat: no-repeat;
    width: 43px;
    height: 43px;
}

.ic6 {
    background-image: url('../../../../public/ic_heavysnows.svg');
    background-repeat: no-repeat;
    width: 43px;
    height: 43px;
}

.ic7 {
    background-image: url('../../../../public/Weather_icon.svg');
    background-repeat: no-repeat;
    width: 43px;
    height: 43px;
}

.sunrise_sunset {
    width: 435px;
    height: 183px;
    /* display: block; */
}

.ellipse_rise_set {
    /* width: 380px; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 113px;
    flex-shrink: 0;
    background-image: url('../../../../public/Ellipse_white.svg');
}

.img_sunrise {
    display: inline-flex;
    background-image: url('../../../../public/Group\ 9333.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 85.478px;
    height: 83.116px;
    flex-shrink: 0;
    position: relative;
    bottom: 122px;
}

.sunrise {
    display: inline-block;
    width: 51px;
    height: 56px;
    flex-shrink: 0;
    float: inline-start;
}

.sunset {
    display: inline-block;
    width: 24px;
    height: 56px;
    flex-shrink: 0;
    position: relative;
    float: inline-end;
}

.text_sunrise {
    color: var(--White-0, #FFF);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
}

.text_sunset {
    color: var(--White-0, #FFF);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
}

.icon_sunrise {
    background-image: url('../../../../public/SunHorizon.svg');
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.icon_sunset {
    background-image: url('../../../../public/SunHorizon.svg');
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.text_weather {
    text-align: center;
}