.contauner_avatar {
    display: block;
    position: relative;
}
.default_avatar {
    background-size: cover;
    border-radius: 100%;
    width: 37%;
    margin-left: 30%;
    justify-content: center;
    align-items: center;
}