* {
    outline: none;
    margin: 0;
    padding: 0;
}

#container_monitoring {
    background: 
        linear-gradient(#508acd56 100%, #508acd00 50%),
        linear-gradient(to bottom, #9adbef 25%,#000000 100%),
        linear-gradient(to bottom, #fff 100%, #000000 100%);
    width: 474px;
    height: 100%;
    border-right: 1px #525252 solid;
    display: block;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

h1 {
    text-align: center;
    font-size: 40px;
}

.text_cem {
    font-size: 32px;
}